@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

// Customize default colors here
$theme-colors: (
  "primary": #00ffff,
);

@import "node_modules/bootstrap/scss/bootstrap";
